<div class ="container">
    <h1>MetropolisMaintenance Activities </h1>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class ="navbar-nav">
            <li class ="nav-item">
                <button routerLink='activity' class = " btn btn-light btn-outline-primary float-left" button>
                    Activities
                </button>
            </li>
        </ul>
    </nav>
   
    <!--<nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class ="navbar-nav">
            <li class ="nav-item">
                <button routerLink='login' class = " btn btn-light btn-outline-primary float-right" button>
                   Login
                </button>
            </li>
        </ul>
    </nav>-->




</div>
<router-outlet></router-outlet>
